.DS_Store
dist/
node_modules/
controller/static/platform.js
controller/static/assets/
installer/assets/controller.exe
*.db
*.log
*.bak
*.tmp
controller/chrome-profile
controller/yui_controller
controller/diagnostics.txt
controller/controller.json
controller/controller.log
controller/status.json
installer/installer
